<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper">
		{{ partial "head.html" . }}

		<div class="post">
			<div class="post-header">
				{{ if ne .Title "About" }}
				{{ if ne .Date.Year 1 }}
					<div class="meta">
						<div class="date">
							<span class="day">{{ dateFormat "02" .Date }}</span>
							<span class="rest">{{ if $.Site.Data.month }}{{ index $.Site.Data.month (printf "%d" .Date.Month) }} {{ .Date.Year }}{{ else }}{{ dateFormat "Jan 2006" .Date }}{{ end }}</span>
						</div>
					</div>
				{{ end }}
				{{ end }}
				<div class="matter">
					<h1 class="title">{{ .Title }}</h1>
				</div>
			</div>

			{{ if ne .Title "About" }}
			<div style="display: flex">
				<div class="">
					{{ if .Site.Params.readingTime }}
					<p class="mb-0">{{ .Site.Params.readingTimeText }} <strong>{{ .Page.ReadingTime }}</strong> min(s)&nbsp;&nbsp;·&nbsp;&nbsp;
					</p>
					{{ end }}
				</div>
				<div class="">
					{{ if .Site.Params.wordCount }}
					<p class="mb-0">Estimated total words: <strong>{{ .WordCount }}</strong>&nbsp;{{ i18n "words" }}</p>
					{{ end }}
				</div>
			</div>

			<hr>
			{{ end }}


					
			<div class="markdown">
				{{ .Content }}
			</div>

			<div class="tags">
				{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
						<ul class="flat">
							{{ range .Params.tags }}
							<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
							{{ end }}
						</ul>
					{{ end }}
				{{ end }}
			</div>
		</div>
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
