<!doctype html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<a class="skip-link" href="#main">Skip to main</a>
<main id="main">
    <div class="content">
        {{ partial "header.html" . }}
        {{.Params}}
        {{ if isset .Params "series" }}
        <h1>Series</h1>
        <section id="series">
            <div>
                <h4 class="series-title" onclick="toggleSeriesList()">{{ .Params.title}}</h4>
                <ul id="series-list" class="series-list">
                    {{ range $num,$post := (index .Site.Taxonomies.series (index .Params.series 0 | urlize)).Pages.ByDate }}
                    {{ if eq $post.Permalink $.Page.Permalink }}
                    <li class="series-list-item active">
                        Part {{ add $num 1 }}: This Article
                    </li>
                    {{ else }}
                    <li class="list-group-item">
                        <a href="{{$post.Permalink}}">
                            Part {{ add $num 1 }}: {{ $post.Params.title}}
                        </a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
            </div>
        </section>
        {{ end }}
    </div>
</main>

<script>
  function toggleSeriesList() {
    var seriesList = document.getElementById('series-list');
    if (seriesList.style.display === 'none') {
      seriesList.style.display = 'block';
    } else {
      seriesList.style.display = 'none';
    }
  }
</script>
</body>
</html>
