<!doctype html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<a class="skip-link" href="#main">Skip to main</a>
<main id="main">
    <div class="content">
        {{ partial "header.html" . }}
        <h1>Series</h1>
        <section id="series">
            <div>
                <ul class="series-list">
                    <h4>This article is part of a series.</h4>
                    {{ range $num,$post := (index .Site.Taxonomies.series (index .Params.series 0 | urlize)).Pages.ByDate }}
                    {{ if eq $post.Permalink $.Page.Permalink }}
                    <li class="series-list-item active">
                        Part {{ add $num 1 }}: This Article
                    </li>
                    {{ else }}
                    <li class="list-group-item">
                        <a href="{{$post.Permalink}}">
                            Part {{ add $num 1 }}: {{ $post.Params.title}}
                        </a>
                    </li>
                    {{end}}
                    {{end}}
                </ul>
            </div>
        </section>
    </div>
</main>
</body>
</html>
