<!doctype html>
<html lang="en">
{{ partial "head.html" . }}
<body>
<a class="skip-link" href="#main">Skip to main</a>
<main id="main">
    <div class="content">
        {{ partial "header.html" . }}
        <h1>Tags</h1>
        <section id="tags">
            {{ $data := .Data }}
            <ul class="tags">
                {{ range $key, $value := .Data.Terms.ByCount }}
                {{ if $value.Name}}
                <li>
                    <a href="{{ $value.Name | urlize }}" title="{{ $value.Name }}">
                        {{ $value.Name }}
                    </a>

                    <span>(<strong>{{ $value.Count }}</strong>)</span>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </section>
    </div>
</main>
</body>
</html>
