<!doctype html>
<html lang="en">
{{ partial "head.html" . }}
<body>
{{ partial "navbar.html" . }}
<div class="container mt-5">
    <h1 class="post-list-title pt-2 pb-2">Articles</h1>

    {{ $pag := .Paginate .Data.Pages }}
    {{ range $pag.Pages }}
    <a href="{{ .Permalink }}">
        <div class="post">
            <div class="post-title">
                <p class="mb-0">{{ .Title }}</p>
            </div>
            {{ partial "post-meta.html" . }}
            {{ partial "post-tags.html" . }}
        </div>
    </a>
    {{ end }}
</div>

<div class="container">
    {{ partial "pagination.html" . }}
</div>

{{ partial "footer.html" . }}

{{ partial "foot.html" . }}
</body>
</html>