{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
    {{ if .Paginator.HasPrev }}
    <a class="pagination__item pagination__item--prev btn mr-3 pl-0"
       href="{{ .Paginator.Prev.URL }}">
        <i class="fas fa-chevron-left"></i> Previous
    </a>
    {{ end }}
    <span class="pagination__item pagination__item--current">{{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>
    {{ if .Paginator.HasNext }}
    <a class="pagination__item pagination__item--next btn ml-3"
       href="{{ .Paginator.Next.URL }}">
        Next <i class="fas fa-chevron-right"></i>
    </a>
    {{ end }}
</div>
{{ end }}