*, :after, :before {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

body {
    font: 1rem/1.5 '-apple-system',BlinkMacSystemFont,avenir next,avenir,helvetica,helvetica neue,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 2rem;
    background: #f5f5f5;
    color: #000;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #eee;
    z-index: 100;
}

.skip-link:focus {
    top: 0;
}

h1, h2, h3, h4, h5, strong, b {
    font-weight: 600;
}

header {
    line-height: 2;
    padding-bottom: 1.5rem;
}

.link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.time {
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
}

blockquote {
    border-left: 5px solid #eee;
    padding-left: 1rem;
    margin: 0;
}

a, a:visited {
    color: inherit;
}

a:hover, a.heading-link {
    text-decoration: none;
}

pre {
    padding: 0.5rem;
    overflow: auto;
    overflow-x: scroll;
    overflow-wrap: normal;
    background: #f8f8f8;
}

code, pre {
    font-family: San Francisco Mono, Monaco, "Consolas", "Lucida Console", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
    font-size: 16px;
    background: #eee;
}

code {
    margin: 0.1rem;
    border: none;
}

ul {
    list-style-type: square;
}

ul, ol {
    padding-left: 1.2rem;
}

.list {
    line-height: 2;
    list-style-type: none;
    padding-left: 0;
}

.list li {
    padding-bottom: 0.1rem;
}

.meta {
    color: #777;
}

.content {
    max-width: 70ch;
    margin: 0 auto;
    text-align: justify;
}

header {
    line-height: 2;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

header a {
    text-decoration: none;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header li, header a {
    display: inline;
}

h1.post-title {
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.post-body {
    margin-top: 2rem;
}

header ul a:first-child {
    padding-left: 1rem;
}

.nav {
    height: 1px;
    background: #000;
    content: '';
    max-width: 10%;
}

.list li.recent-posts {
    display: flex;
    align-items: baseline;
}

.list li time {
    flex: 0 1 auto;
}

.post-title {
    border-bottom: 2px solid rgb(0 0 0);
}

.hr-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    height: 1px;
    border: 0;
    border-bottom: 1px dotted #ccc;
    flex: 1 0 1rem;
}

.m, hr {
    border: 0;
    margin: 3rem 0;
}

img {
    max-width: 100%;
    height: auto;
}

.post-date {
    margin: 5% 0 5%;
}

.index-date {
    color: #9a9a9a;
}

.animate-blink {
    animation: opacity 1s infinite;
    opacity: 1;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

.avatar {
    height: 120px;
    width: 120px;
    position: relative;
    margin: -10px 0 0 15px;
    float: right;
    border-radius: 50%;
}

.tags, .recent-posts {
    padding-left: 0;
}

.tags li, .recent-posts li {
    font-weight: 500;
    margin: 0.25rem;
}

.tags li a {
    text-decoration: none;
    display: block;
    padding: 3px 10px;
    border-radius: 6px;
    transition: transform .1s;
    width: 100%;
}

.tags li {
    background: #d8e2e0;
    width: 100%;
}

.tags li {
    display: flex;
    align-items: baseline;
    padding-bottom: 0.1rem;
}

.tags li span {
    flex: 0 1 auto;
    margin-right: 5px;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--entry);
    border-radius: var(--radius);
    transition: transform .1s;
    border: 1px solid var(--border);
}

.entry-header {
    padding-bottom: 0;
}

.entry-header h2 {
    font-size: 24px;
    line-height: 1.3;
    margin: 0;
}

.entry-header h2 a:hover {
    text-decoration: underline
}

.entry-content {
    margin: 8px 0;
    color: var(--secondary);
    font-size: 14px;
    line-height: 1.6;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.entry-content p {
    margin: 0.25rem 0;
}

.entry-footer {
    color: var(--secondary);
    font-size: 13px;
}

.flat-tags a {
    color: #4848F1FF;
    padding: 0.20rem;
    margin: 0 0.10rem;
    border-radius: 0.20rem;
    text-decoration: none;
}

.flat-tags a:hover {
    color: #4848f1;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}


h2.home-heading {
    align-items: center;
    border: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-top: 3rem;
    padding: 0;
}

a.view-all-posts {
    align-items: center;
    -webkit-appearance: none;
    background: #ffffff;
    border: 2px solid #dee2e6;
    border-radius: 4px;
    color: #4b5056;
    cursor: pointer;
    display: inline-flex;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;;
    font-size: 1rem;
    font-weight: 500;
    gap: 0.25rem;
    letter-spacing: 0;
    line-height: 1;
    padding: 0.6rem 1rem;
    text-decoration: none;
}

a.view-all-posts:hover {
    border-color: #868e96;
    color: #212529;
}

.footer {
    padding: 3rem 0;
}

.footer section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer nav {
    display: flex;
    gap: 0.25rem;
    margin: 0 1rem;
}

.footer a, .footer span {
    align-items: center;
    color: #4b5056;
    display: flex;
    font-size: .9rem;
    line-height: 1.2;
    padding: 0 0.5rem;
}

.footer img {
    display: inline-block;
    max-height: 20px;
    width: auto;
}

.series-list {
    padding: 1rem 0;
    border-top: 0.25rem solid rgb(0 0 0);
    border-bottom: 0.25rem solid rgb(0 0 0);
}

.series-list h4 {
    margin-top: 0;
}

.series-list li {
    list-style: none;
    padding-top: 0.5rem;
}

.series-list .series-list-item.active {
    color: #4b5056;
    font-weight: bold;
}

.anchor {
    padding: 0 10px;
    text-decoration: none;
}

a.anchor:hover {
    color: #777;
    display: inline;
}

h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor {
    display: none;
}

.toc {
    margin: 0 2px 40px;
    border: 1px solid #eeeeee;
    background: #f5f5f5;
    border-radius: 8px;
    padding: 0.4em;
}

.toc .details {
    display: inline;
    font-weight: 500;
}

.toc .inner {
    margin: 0 20px;
    padding: 10px 20px;
}

.post-body a {
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}

.pager {
    padding: 10px 0;
    margin-bottom: 4rem;
}

.pager ul li {
    display: inline;
}

.pager .previous {
    float: left;
}

.pager .next {
    float: right;
}

.pager ul {
    padding-left: 0;
}

.pager ul li a {
    padding: 10px 15px;
    background: #eee;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 0;
    font-weight: bold;
}
 .pager ul li a:hover {
    background: #e1e4e8;
 }
