
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    position: relative;
    font-family: 'Fira Mono', monospace;
    display: flex;
	flex-direction: column;
	height: 100vh;
}

.navbar {
    display: block;
    background-color: #ffffff;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #f5f5f5;
}

.nav-link-hover-effect a::before,
.nav-link-hover-effect a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.nav-link-hover-effect a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.nav-link-hover-effect a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.nav-link-hover-effect a:hover::before,
.nav-link-hover-effect a:hover::after,
.nav-link-hover-effect a:focus::before,
.nav-link-hover-effect a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

/*footer*/
footer {
    bottom: 0;
    width: 100%;
}

.footer {
    /*position: absolute;*/
    width: 100%;
    text-align: center;
    line-height: 2rem;
    background-color: #e7f8fb;
}

.footer {
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 0.875rem 0;
    border-top: 1px solid #f5f5f5;
}

.footer .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
}

.footer p.footer-links {
    font-size: 0.875rem;
    color: #000;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
}

.footer p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    transition: ease .25s;
    color: #8f9296;
}

.footer .footer-links .link-1:before {
    content: none;
}

.footer .footer-right {
    float: right;
    margin-top: 6px;
}

.footer .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition: all .25s;
}

.footer .footer-right a:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.footer p.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries */

@media (max-width: 600px) {
    .footer .footer-left, .footer .footer-right {
        text-align: center;
    }

    .footer .footer-right {
        float: none;
        margin: 0 auto 20px;
    }

    .footer .footer-left p.footer-links {
        line-height: 1.8;
    }
}

.fa-zoom {
    font-size: 1.2rem;
}

/*back to top*/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}

#back-to-top:hover {
    background: #e9ebec;
}

#back-to-top.show {
    opacity: 1;
}


/*page*/
.page-title {
    padding: 1.5rem 0 0.5rem;
}

/*post*/
.post-list-title {
    border-bottom: 6px solid #3c9a8f;
}

.post {
    padding: 0.875rem 0;
    border-bottom: 1px solid #32a2ab2e;
}

.post:last-of-type {
    border-bottom: none;
}

.post a {
    text-decoration: none;
}

.post-title {
    color: #0b2e13;
    font-size: 1.4rem;
}

ul.post-meta {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.post-meta li {
    list-style: none;
    display: inline-block;
    color: #8f9296;
    font-size: 0.75rem;
}

.post a .post-title p:hover {
    font-weight: bold;
}

.post a .post-meta {
    pointer-events: none;
}

.blog-tags {
    margin-top: 0.5rem;
}

.blog-tags a {
    color: #0c5460;
    font-size: 0.875rem;
}

.blog-tags a:hover {
    background-color: #f5f5f5;
}

.pagination {
    margin: 1rem 0;
}

.pagination span {
    padding: 0.375rem;
}

.pagination a {
    color: #8f9296;
}

.pagination a:hover {
    color: #0f6674;
}

.post-title {
    font-family: monospace;
    letter-spacing: -1px;
}

.post-content {
    margin-top: 1.5rem;
    /*border-top: 2px solid #0f6674;*/
    padding-top: 0.875rem;
}

.page-content {
    margin-top: 1rem;
    /*border-top: 2px solid #0f6674;*/
    padding-top: 0.875rem;
}

pre {
    padding: 0.375rem;
    background-color: #f1f1f1;
}

.post-meta-details {
    padding: 0.375rem 0;
    font-size: 0.875rem;
}

ul.related-post-list {
    padding-left: 0;
    margin-left: 0;
    border-top: 2px solid #0f6674;
}

ul.related-post-list li {
    list-style: none;
    border-bottom: 1px dotted #4fb5b3;
    padding: 0.375rem 0;
}

ul.related-post-list li:last-child {
    border-bottom: none;
}

ul.related-post-list li a {
    color: #0f6674;
    text-decoration: none;
}

.tag-list a {
    background-color: #0f6674;
    color: #fff;
    padding: 0.375rem;
    border-radius: 4px;
    margin-right: 0.375rem;
}

.tag-list a:hover {
    text-decoration: none;
    background-color: #728e92;
}

.recent-post-list-title {
    letter-spacing: 1px;
    font-family: sans-serif;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

ul.recent-post-list {
    padding-left: 0;
}

ul.recent-post-list li {
    list-style: none;
}

ul.recent-post-list li a {
    color: #3c9a8f;
}

img[alt=github]{
    width: 64px;
}

img[alt=hugo]{
    width: 200px;
}

img[alt=go]{
    width: 120px;
}

.footer{
    flex-shrink: 0;
}

main {
	flex: 1 0 auto;
}